.container_budget {
  display: flex;
  gap: 3rem;

  max-width: 1240px;
  margin: 2rem auto 0;
  padding: 0 1rem 3rem;
}
.aside {
  flex: 1;

  h1 {
    font-weight: 700;
    font-size: 4rem;

    color: var(--title);
  }

  p {
    font-weight: 300;
    font-size: 1.5rem;

    color: var(--subtitle);
  }
}

.form_budget {
  flex: 2;

  div,
  input,
  textarea {
    border-radius: 1.5rem;

    width: 100%;
    min-width: 100%;
  }

  P {
    font-size: 0.8rem;
    color: var(--red);
  }

  .form_group_checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-bottom: 2rem;

    .form_control_label {
      border: 1px solid;
      width: 100%;
    }
  }

  .form_control_radio {
    margin-bottom: 2rem;
  }

  .info_project {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .info_project_item {
      border: 1px solid;
      width: 100%;

      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

@media (max-width: 468px) {
  .container_budget {
    display: flex;
    flex-direction: column;

    margin: 0 auto 2rem;
  }

  .aside {
    h1 {
      font-weight: 700;
      font-size: 3rem;

      color: var(--title);
    }

    p {
      font-weight: 300;
      font-size: 1.5rem;

      color: var(--subtitle);
    }
  }

  .form_budget {
    div,
    input,
    textarea {
      border-radius: 1.5rem;

      width: 100%;
      min-width: 100%;
    }

    P {
      font-size: 0.8rem;
      color: var(--red);
    }

    .form_group_checkbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      margin-bottom: 2rem;

      .form_control_label {
        border: 1px solid;
        width: 100%;
      }
    }

    .form_control_radio {
      margin-bottom: 2rem;
    }

    .info_project {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .info_project_item {
        border: 1px solid;
        width: 100%;

        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}
