.flex {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 1rem;
}

.btn_default {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.8rem 1.5rem;
  color: var(--white);
  background-color: var(--primary);

  border: 0;
  border-radius: 2rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.btn_secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.8rem 2rem;
  color: var(--primary);
  background-color: var(--white);

  border: 1px solid var(--primary);
  border-radius: 2rem;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
