.title {
  color: var(--primary);
  margin-bottom: 1rem;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 140%;

    color: var(--title);
  }

  p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    /* or 27px */

    color: var(--subtitle);
  }
}
